* {
  box-sizing: border-box;  
}

body {
  font-family: 'Courier','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 20px;
  text-align: center;
}

/* FLEX BOX */

.container {
  width: 100%;

}

.filter {
  background-color: purple;
  max-width: 1100px;
  height: auto;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-images {
  flex-basis: 1;
  padding: 30px 30px;
}

/* FORM*/

input[type="text"]{
  padding: 10px;
  border-radius: 5px;
  border-style: solid;
  border-color: lightgray;
  font-size: 16px;
}

::placeholder {
  color: rgb(184, 181, 181);
}

.search-text {
  display: none;
}

ul {
  padding: 0;
  list-style-type: none;
}

.nav {
}

li {
  border-radius: 3px;
  background-color: #000000;
  padding: 5px 10px;
  width: 100px;
  line-height: 30px;
  color: white;
  cursor: pointer;
  display: inline;
  text-decoration: none;
  margin-left: -8px;
}